:root {
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --main-p-font-size: 15px;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body{
  font-family: 'Outfit', sans-serif;
}

main {
  background-color: var(--light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container {
  width: 370px;
  background-color: #FFF;
  display: flex;
  flex-flow: column wrap;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 3px 4px 10px 1px #00000042;
}


main .container .image img {
  width: 100%;
  border-radius: 20px;
}

main .container article {
  padding: 15px;
  text-align: center;
}
main .container article h2 {
  color: var(--dark-blue);
}
main .container article p {
  font-size: var(--main-p-font-size);
  color: var(--grayish-blue);
  margin: 15px 0;
}